
{{>banner}}	
	<!-- about -->
	<div class=" w3ls-section" id="inner-about">
		<div class="container">
			<h3 class="h3-w3l">about us</h3>
			<!-- about bottom-->
			<div class="about-bottom">
				<div class="col-md-6 about-w3right">
					
				</div>
				<div class="col-md-6 about-w3left"> 
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h5 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Quá trình hình thành 
									</a>
								</h5>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;" >
								<div class="panel-body panel_text" style="color:darkslategrey;">
									- Tháng 05/2020 hệ thống ngân hàng được triển khai khởi tạo.
									<br>
									- Ngày 27/06/2020 ngân hàng chính thức đi vào hoạt động.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h5 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Sứ mệnh
									</a>
								</h5>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
								<div class="panel-body panel_text" style="color:darkslategrey;">
									- E-Banking sẽ luôn đồng hành, chia sẻ và cung cấp dịch vụ tài chính – ngân hàng hiện đại, tốt nhất cho khách hàng. 
									<br>
									- Cam kết mang lại giá trị tốt nhất cho khách hàng. 
									<br>
									- Tạo môi trường làm việc chuyên nghiệp, thân thiện, cơ hội phát triển nghề nghiệp và lợi ích xứng đáng cho mọi nhân viên. 
									<br>
									- Là ngân hàng tiên phong trong hoạt động phát triển cộng đồng.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h5 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Giá trị cốt lõi
									</a>
								</h5>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
								<div class="panel-body panel_text" style="color:darkslategrey;">
									- Luôn sáng tạo để mang lại những giá trị thiết thực cho khách hàng.
									<br>
									- Phát triển không ngừng để hướng tới hỗ trợ khách hàng tốt nhất và mở rộng danh mục khách hàng.
									<br>
									- Luôn tận tâm chu đáo phục vụ khách hàng với châm ngôn "Khách hàng là thượng đế".
									<br>
									- Kết nối khắp nơi để xây dựng một ngân hàng sánh tầm với thế giới.
									<br>
									- Luôn đề cao tính an toàn và sự bảo mật cho khách hàng.
								</div>
							</div>
						</div>
						{{!-- <div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour">
								<h5 class="panel-title asd">
									<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Bịa ra
									</a>
								</h5>
							</div>
							<div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour" aria-expanded="true">
								<div class="panel-body panel_text">
									AE thêm thông tin ở đây nha
								</div>
							</div>
						</div> --}}
					</div> 
				</div> 
				<div class="clearfix"> </div>
			</div>		
		</div>	
			<!-- //about-bottom -->
	</div>
	<!-- //about -->
	<!-- //Awards-->
	<div class="awards-agileinfo w3ls-section">
		<div class="awardsw3-agileits banner-agileinfo">
			<div class="container">
				<div class="w3ls_banner_bottom_grids">
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Awards</h4>
						<canvas id="gauge1" width="200" height="100"></canvas>
					</div>
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Followers</h4>
						<canvas id="gauge2" width="200" height="100"></canvas>
					</div>
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Branches</h4>
						<canvas id="gauge3" width="200" height="100"></canvas>
					</div>
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Support</h4>
						<canvas id="gauge4" width="200" height="100"></canvas>
					</div>
					<div class="clearfix"> </div>
				</div> 
			</div>
		</div>
		<script src="js/jquery.gauge.js"></script>
		<script>
			$(document).ready(function (){
				$("#gauge1").gauge(70,{color: "#ef3708",unit: " %",type: "halfcircle"});
				$("#gauge2").gauge(70, {color: "#5f48f9", unit: " %",type: "halfcircle"});
				$("#gauge3").gauge(75, {color: "#10b55d",unit: " %",type: "halfcircle"});
				$("#gauge4").gauge(90, {color: "#20c4da",unit: " %",type: "halfcircle"});
			});
		</script> 
	</div>
	<!-- //Awards--> 
	<!-- team -->
	<div id="team" class="w3ls-section team agileits">
		<div class="team-agileinfo">
			<div class="awardsw3-agileits banner-agileinfo">  
				<h3 class="h3-w3l">Our Team</h3>
				
				<div>
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="/images/nhan.jpg"  alt="image" >
							<div class="captn">
								<div class="captn-top">
									<h4>Thanh Nhan</h4>
									<p>Leader</p>
								</div> 
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="https://www.facebook.com/profile.php?id=100018560048690"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div> 
							</div>
						</div>
					</div>	

					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="/images/vananh.jpg" alt="image">
							<div class="captn">
								<div class="captn-top">
									<h4>Van Anh</h4>
									<p>Secretary</p>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="https://www.facebook.com/vananhvo204"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="/images/khang.jpg" alt="image">
							<div class="captn">
								<div class="captn-top">
									<h4>Dinh Khang</h4>
									<p>Clansman</p>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="https://www.facebook.com/profile.php?id=100010109467811"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="/images/khoi.jpg" alt="image">
							<div class="captn">
								<div class="captn-top">
									<h4>Viet Khoi</h4>
									<p>Clansman</p>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="https://www.facebook.com/vietkhoi.ho.311"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="/images/long.jpg" alt="image">
							<div class="captn">
								<div class="captn-top">
									<h4>Viet Long</h4>
									<p>Clansman</p>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="https://www.facebook.com/nguyen.v.long.1420"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div> 
							</div>
						</div>
					</div>

					<div class="clearfix"> </div>

				</div>
					
			</div>
		</div>
	</div>
<!-- //team -->   


