 <div class="header-nav">
        <!-- header-three -->
        <nav class="navbar navbar-default">
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/trading">Trading</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/accounts/register" class="active">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
<body>
    <div class="form_info_user">

        <form class="infoUser-form-sendmail" action="/accounts/changePassword" method="POST">
            <div class="alert_message">
                {{#if message}}
                <div class="{{type}}">
                    <i><strong>{{message}}</strong></i>
                </div>
                {{/if}}
            </div>
            <div class="form_info">

                <div class="row_info">
                    <label class="info">New Password</label>
                    <input class="input_info" type="password" name="passWord" placeholder="New Password"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'">

                </div>

                <div class="row_info">
                    <label class="info">Confirm New Password</label>
                    <input class="input_info" type="password" name="confirmPassword" placeholder="Confirm New Password"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm New Password'">

                </div>
                <input class="Send" value="Send" type="submit">
            </div>

        </form>
    </div>

</body>