{{>banner}}
{{!-- FORM --}}

<body class="login">
	<h1 class="title_login">Login & Registration Form</h1>
	<div class="info"><a>
			<p> Made with <i class="fa fa-heart"></i> EC_2006_03 </p>
		</a></div>
	<div class="container_lg">
		<div class="menu">
			<a href="#connection" class="btn-connection">
				<h2>SIGN IN</h2>
			</a>
			<a href="#enRegister" class="btn-enRegister active">
				<h2>SIGN UP</h2>
			</a>
		</div>
		{{!-- Login --}}
		<div class="connection">
			{{#if message}}
			<div class="{{type}}">
				<i><strong>{{message}}</strong></i>
			</div>
			{{/if}}
			<div class="contact-form">
				<form class="row login_form" action="/accounts/login" method="POST">

					<label> USERNAME </label>
					<input type="text" name="userName" placeholder="UserName" onfocus="this.placeholder = ''"
						onblur="this.placeholder = 'UserName'">
					<label>PASSWORD</label>
					<input type="password" name="passWord" placeholder="PassWord" onfocus="this.placeholder = ''"
						onblur="this.placeholder = 'Password'">
					<div class="check">
						<label>
							<input id="check" type="checkbox" class="checkbox">
							<svg xmlns="http://www.w3.org/2000/svg" width="26px" height="23px">
								<path class="path-back"
									d="M1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6" />
								<path class="path-moving"
									d="M24.192,3.813L11.818,16.188L1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6" />
							</svg>
						</label>
						<h3>Keep me signed in</h3>
					</div>
					<input class="submit" value="SIGN IN" type="submit">
			</div>
			<a href="#" >
				<h4>Forgot password ?</h4>
				<hr>
			</a>
			</form>

		</div>
		{{!-- Register --}}
		<div class="enRegister active-section">
			<div class="contact-form">
				<form class="row login_form" action="/accounts/register" method="POST">
					<label>FULLNAME</label>
					<input type="text" name="fullName" placeholder="FullName" onfocus="this.placeholder = ''"
						onblur="this.placeholder = 'FullName'">

					<label>E_MAIL</label>
					<input type="email" name="email" placeholder="Email" onfocus="this.placeholder = ''"
						onblur="this.placeholder = 'Email'">

					<label>USERNAME</label>
					<input type="text" name="userName" placeholder="UserName" onfocus="this.placeholder = ''"
						onblur="this.placeholder = 'UserName'">

					<label>PASSWORD</label>
					<input type="password" name="passWord" placeholder="PassWord" onfocus="this.placeholder = ''"
						onblur="this.placeholder = 'Password'">

					<label>CONFIRM PASSWORD</label>
					<input type="password" name="confirmPassword" placeholder="Confirm PassWord"
						onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm PassWord'">

					<input class="submit" value="SIGN UP" type="submit">
				</form>


			</div>
		</div>

	</div>


	<script>
		$('.btn-enRegister').click(function () {
			$('.connection').addClass('remove-section');
			$('.enRegister').removeClass('active-section');
			$('.btn-enRegister').removeClass('active');
			$('.btn-connection').addClass('active');
		});

		$('.btn-connection').click(function () {
			$('.connection').removeClass('remove-section');
			$('.enRegister').addClass('active-section');
			$('.btn-enRegister').addClass('active');
			$('.btn-connection').removeClass('active');
		});

	</script>
</body>